body{
  font-family: "Quicksand", sans-serif;
}
.tbl_opcion{
  width: 50%;

}
.btn_opcion{
  width: 80%;
  height: 150px;
  border-radius: 10px;
  border: none;
}
.btn_opcion:hover {
  transform: scale(1.1);
  border: 3px solid #16498C;
}
.lbl_titulo_opcion{
  cursor: pointer;
}
